h3, h4 {
    color: royalblue;
}

.menu-title {
    width: 800px;
    margin: 0 auto; /* Centers the element */
    text-align: center;
}

h2 {
    font-family: 'Arial', sans-serif; /* Replace with desired font */
    font-size: 2rem; /* Adjust size as needed */
    color: #1b03a3; /* Neon blue color */
    margin: 20px 0; /* Adjust margins as desired */
}

p {
    color: #89CFF0; /* Baby blue color */
}
p {
    color: #89CFF0; /* Baby blue color */
    line-height: 1.6; /* Adjusts line height for better readability */
}
h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

p {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 15px; /* Optional padding for indent */
    line-height: 1.6; /* Enhances readability */
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between images */
    padding: 10px;
}

.image-container img {
    max-width: 60%;
    height: auto;
    width: 22%; /* Each image takes 30% width */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container figure {
    text-align: center;
    max-width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Set a maximum width to avoid images growing too large */
    border-radius: 8px; /* Optional: for rounded corners */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}



